.btn {
  &_main {
    font-family: $main-font;
    font-weight: 300;
    font-size: $font-s;
    line-height: 2rem;
    padding: 1rem 0;
    border-radius: 100px;
    border: none;
    background-color: $color-secondary;
    color: $color-white;

    cursor: pointer;
    transition: all 0.3s ease;
    backface-visibility: hidden;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &:active {
      transform: translateY(-1.5px);
      box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.2);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    img {
      height: 2rem;
      object-fit: contain;
    }
  }

  &_submit {
    font-family: $main-font;
    font-weight: 300;
    font-size: $font-s;
    line-height: 2rem;
    padding: 1rem 0;
    margin-top: auto;
    border-radius: 100px;
    border: none;
    background-color: $color-secondary;
    color: $color-white;

    cursor: pointer;
    transition: all 0.3s ease;
    backface-visibility: hidden;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      outline: none;
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.2);
      outline: none;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    img {
      height: 2rem;
      object-fit: contain;
    }
  }

  &_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
      outline: none;
      filter: brightness(1.2) opacity(0.8);
    }

    img {
      height: 2rem;
      object-fit: contain;
    }
  }
}
